.menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    z-index: 100;
    top: 2rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;

    @include respond(tab-port) {
        height: 5rem;
    }

    @include respond(phone) {
        height: 6rem;
        top: 1rem;
    }

    @include respond(phone-small) {
        height: 6.5rem;
    }

    &__line {
        width: 100%;
        height: 0.2rem;
        background-color: $color-grey-light;
        transition: transform .3s;

        @include respond(big-desktop) {
            height: 0.3rem;
        }

        &--1, 
        &--3 {
            width: 50%;
            transform-origin: right;
        }

        &--3 {
            margin-left: auto;
        }
    }
}

.change .menu__line--1 {
    transform: translate(100%, 1rem) rotate(-35deg);
}

.change .menu__line--3 {
    transform: translateY(-1rem) rotate(35deg);
}