//KEYFRAMES

@keyframes animateHeading {
    0% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    } 
    25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    28% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    100% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}

@media (max-width: 500px) {
    @keyframes animateHeading {
        0% {
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 2rem;
        }
        3% {
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 1rem;
        } 
        25% {
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 1rem;
        }
        28% {
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 2rem;
        }
        100% {
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 2rem;
        }
    }
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes animateNavbar {
    0% {
        top: -8rem;
    }
    100% {
        top: 0;
    }
}

//IMAGE SET

@mixin image-set {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//MEDIA QUERY MANAGER

/* 
0-320px:        Mini-phone
320-500px:      Phone small
500-700px:      Phone
700-900px:      Tablet portrait
900-1400px:     Tablet landscape
1400-1800px:    Big desktop

$breakpoint arguments choices:
- mini-phone
- phone-small
- phone
- tab-port
- tab-land
- big-desktop
1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == mini-phone {
        @media only screen and (max-width:20em) { @content }; //320px 
    }
    @if $breakpoint == phone-small {
        @media only screen and (max-width:31.25em) { @content }; //500px 
    }
    @if $breakpoint == phone {
        @media only screen and (max-width:43.75em) { @content }; //700px 
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width:56.25em) { @content }; //900px 
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width:87.5em) { @content }; //1400px 
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width:103.125em) { @content }; //1650px 
    }
    @if $breakpoint == big-desktop {
        @media only screen and (max-width:112.5em) { @content }; //1840px 
    }
}