//COLORS
$color-white: #fff;
$color-dark-grey: #222020;
$color-dark-grey-2: #03070e;
$color-dark-grey-3: #181b1d;
$color-dark-grey-4: #171718;
$color-dark-grey-5: #444;
$color-dark-grey-6: #202122;
$color-grey-light: #eee;
$color-grey-light-2: #ddd;
$color-grey-light-3: #aaa;
$color-grey-light-4: #ccc;
$color-black: #000;
$color-black-limpid: rgba(0, 0, 0, .5);
$color-black-limpid-2: rgba(0, 0, 0, .6);
$color-black-limpid-3: rgba(0, 0, 0, .4);
$color-black-limpid-4: rgba(0, 0, 0, .9);
$color-black-limpid-5: rgba(0, 0, 0, .7);
$color-tamarillo: #9B0E0E;
$color-oxide: #5F0303;
$color-maple: #7a1010;
$color-abbey: #800505;
$color-amber: #862323;
$color-pole: #9E0E09;
$color-monza: #D30819;
$color-totem: #a10c14;
$color-cinnabar: #e23b3b;
$color-atoll: #087285;
$color-cerulean: #0DA5D3;
$color-yellow-dark: #946809;
$color-yellow: #bdba0e;
$color-green: #0b7e48;
$color-green-light: #3be286;